.venv
.pytest_cache
.tox
.eggs
.coverage
.cache
.pytest_cache
.mypy_cache
.nox
.build
.ipynb_checkpoints
.DS_Store
.gitignore
.git
.hg
.svn
.idea
.vscode
.env
.env.test
.env.prod
.env.dev
.env.local
.env.staging
.env.ci
.env.docker
.env.docker.test
.env.docker.prod